body {
  margin: 0px;
  background-color:  rgba(0, 0, 0, 0.705);
  color: white;
  background-image: linear-gradient(to bottom right,black, rgba(128, 128, 128, 0.452), black);
}

.headings {
  text-align: center;
  text-shadow: 5px 9px 11px rgba(182, 182, 190, 0.877);
}

figure {
  float: left;
  margin-top: 20px;
  margin-left: 10%;
}

figcaption {
  text-align: center;
}

img {
  width: 300px;
  border-radius: 20%;
}

#divlist {
  display: inline-block;
  width: 40%;
}

main {
  font-size: large;
  max-width: 70%;
  min-width: 10%;
  margin: auto;
}

article {
  border-style: solid;
  border-color: yellowgreen;
  border-width: 5px;
  box-shadow: 5px 15px 10px rgba(121, 199, 19, 0.788);
  
}

article.f1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20%;
}

#divone {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#states {
  width: 30%;
  float: left;
}

#foods {
  display: inline-block;
  width: 210px;
  margin: auto 10%;
}

#songs {
  width: 30%;
  margin-right: 0px;
  float: right;
  
}

ol {
  text-align: left;
}

footer {
  text-align: center;
}

/* https://github.com/josephlee3454/lab-0102/pull/2 */