body {
  margin: 0px;
  background-color:  rgba(0, 0, 0, 0.705);
  color: white;
}

.headings {
  text-align: center;
}

main {
  font-size: large;
  max-width: 70%;
  min-width: 10%;
  margin: auto;
}

article {
  border-style: solid;
  border-color: yellowgreen;
  
}

article.f1 {
  margin-top: 30px;
  text-align: center;
  ;
}

#states {
  display: inline-block;
  width: 210px;
  margin-right: 3.5em;
}

#foods {
  display: inline-block;
  width: 210px;
  margin-right: auto;
}

#songs {
  display: inline-block;
  width: 210px;
  margin-right: 0px;
  float: right;
}

ol {
  text-align: left;
}

footer {
  text-align: center;
}